---
export const prerender = false;

import Card from "@/components/dashboard/Card.astro";
import LatestInvoices from "@/components/dashboard/LatestInvoices.astro";
import RevenueChart from "@/components/dashboard/RevenueChart.astro";
import DashboardLayout from "@/layouts/DashboardLayout.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import { fetchCardData, fetchLatestInvoices, fetchRevenue } from "@/lib/data";

const revenue = await fetchRevenue();
const latestInvoices = await fetchLatestInvoices();
const {
  numberOfInvoices,
  numberOfCustomers,
  totalPaidInvoices,
  totalPendingInvoices,
} = await fetchCardData();
---

<RootLayout>
  <DashboardLayout>
    <main>
      <h1 class="font-lusitana mb-4 text-xl md:text-2xl">Dashboard</h1>
      <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-4">
        <Card title="Collected" value={totalPaidInvoices} type="collected" />
        <Card title="Pending" value={totalPendingInvoices} type="pending" />
        <Card title="Total Invoices" value={numberOfInvoices} type="invoices" />
        <Card
          title="Total Customers"
          value={numberOfCustomers}
          type="customers"
        />
      </div>
      <div class="mt-6 grid grid-cols-1 gap-6 md:grid-cols-4 lg:grid-cols-8">
        <RevenueChart revenue={revenue} />
        <LatestInvoices latestInvoices={latestInvoices} />
      </div>
    </main>
  </DashboardLayout>
</RootLayout>
